<!DOCTYPE html PUBLIC "a" "b">
<meta charset="UTF-8"/>
<html>
<head>
    <title>TODO LIST</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<p id="tasks" hidden="hidden">{{tasks}}</p>
<p id="q" hidden="hidden">{{q}}</p>
<p id="salida"></p>

<table class="table table-hover">
    <thead> <!-- cabecera de la tabla-->
      <tr> 
        <th>Id</th> <!-- la etiqueta "tg" son las celdas de la cabecera de la tabla-->
        <th>X</th>
        <th>Día</th>
		<th>Descripción</th>
        <th>Estado</th>
        <th>Y</th>
      </tr>
    </thead>
	<tbody>
	
<!--FIXME la funcion deleteTask no borra estas etiquetas-->

{% set filas = tasks.split(';') %}
{% for fila in filas %}
	{% set celdas = fila.split('|') %}
	<tr id="task{{loop.index}}" onclick="deleteTask(id,this)"> <!-- la etiqueta "tr" son las filas de la tabla-->
		{% for celda in celdas %}
			<td>{{celda}}</td> <!-- la etiqueta "td" son las celdas de cada fila-->
		{% endfor %}
	</tr>

{% endfor %}

    
      
    
    </tbody>
  </table>
<script type="text/javascript">


                function deleteTask(id, elemento) {
				
                    document.getElementById(id).style.color = "red";
                    var req = new XMLHttpRequest()
                    req.onreadystatechange = function(){
                        if (req.readyState == 4){
                            if (req.status != 200){
                                //error handling code here
                            }
                            else{
								 elemento.parentElement.removeChild(elemento);// se borra del dom si se ha borrado del servidor
                                var response = JSON.parse(req.responseText)
                                document.getElementById("tasks").innerHTML = response.tasks
								
                                init();
                            }
                        }
                    }
                    req.open('POST', '/ajax')
                    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                    var postVars = "task="+document.getElementById(id).cells[0].innerHTML
                    req.send(postVars)
                    return false
                    <!--TODO meter llamada al back end para que la borre de la base de datos-->
                }
                function init(){
					var ver=document.getElementById("tasks").innerHTML;
					
						console.log(ver);

					
                    var tasksArray = document.getElementById("tasks").innerHTML.split(";");
                    <!--document.getElementById("salida").innerHTML = tasksArray;-->
                    for (var i = 0; i < tasksArray.length; i++){
                        //printTask(tasksArray[i], i);
                    }
                }
                function printTask(t, i){
                    document.getElementById("task" + i).innerHTML = t;
                }
                <!--init();-->
                <!--window.onclick();-->
                window.onload=init();

</script>

<form action="" method="post">
    {{ form.csrf }}

    <div class="input text">
        {{ form.description.label }} {{ form.description }}
    </div>

    <div class="input submit">
        <input type="submit" value="Crear nueva tarea"/>
    </div>
</form>

</body>
</html>